/* --- 7. STYLE KHUSUS: TAP TAP GAME --- */
.score-box {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid #5D4037;
}

.tap-area {
    width: 300px; /* Ukuran Lebar Gambar */
    height: 300px; /* Ukuran Tinggi Gambar */
    object-fit: contain; /* Agar gambar tidak gepeng */
    cursor: pointer;
    user-select: none;
    transition: transform 0.1s;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%; /* Bentuk Bulat */
    padding: 5px;
    margin-bottom: 15px;
}

/* Efek Tekan */
.tap-area:active {
    transform: scale(0.9);
}

.btn-reset-small {
    padding: 5px 10px; 
    background-color: #D32F2F; 
    color: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 0.8rem;
}
   /* Tombol Kembali ke Beranda */
    .btn-home {
    display: inline-block;
    background-color: #412615; /* Warna background */
    color: white; /* Teks Putih*/
    padding: 12px 30px;
    border-radius: 30px; /* Bentuk Pil */
    text-decoration: none; /* Hilangkan garis bawah link */
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: all 0.3s;
    position: fixed; /* Tombol akan melayang di atas konten lain */
    bottom: 20px;    /* Jarak 20px dari bawah layar */
    right: 20px;     /* Jarak 20px dari kanan layar */
    z-index: 1000;   /* Pastikan tombol selalu di paling depan */
        }

/* Efek saat mouse di atas tombol */
    .btn-home:hover {
    background-color: #3E2723; /* Coklat lebih gelap */
    transform: scale(1.05); /* Sedikit membesar */
    box-shadow: 0 6px 8px rgba(0,0,0,0.4);
    }