/* Area permainan */
.game-box {
    height: 150px; /* Tinggi kotak permainan */
    background-color: #5D4037; /* Warna default (Cokelat) */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Kursor berubah tangan saat di-hover */
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    user-select: none; /* Agar teks tidak bisa di-blok (biru) */
    transition: background 0.2s;
}

/* Warna saat harus menunggu (Biru Tua) */
.game-box.waiting {
    background-color: #1976D2; 
}

/* Warna saat harus klik (Hijau Terang) */
.game-box.now {
    background-color: #388E3C;
}

/* Warna jika terlalu cepat (Merah) */
.game-box.early {
    background-color: #D32F2F;
}
   /* Tombol Kembali ke Beranda */
    .btn-home {
    display: inline-block;
    background-color: #412615; /* Warna background */
    color: white; /* Teks putih */
    padding: 12px 30px;
    border-radius: 30px; /* Bentuk Pil */
    text-decoration: none; /* Hilangkan garis bawah link */
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: all 0.3s;
    position: fixed; /* Tombol akan melayang di atas konten lain */
    bottom: 20px;    /* Jarak 20px dari bawah layar */
    right: 20px;     /* Jarak 20px dari kanan layar */
    z-index: 1000;   /* Pastikan tombol selalu di paling depan */
        }

/* Efek saat mouse di atas tombol */
    .btn-home:hover {
    background-color:#3E2723 ; /* coklat lebih gelap */
    transform: scale(1.05); /* Sedikit membesar */
    box-shadow: 0 6px 8px rgba(0,0,0,0.4);
    }