body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

header {
    background-color:  burlywood;
    color: brown;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #AC8053;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
    text-align: center;
}

.produk {
    display: inline-block;
    background: white;
    margin: 15px;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
}

img {
    width: 200px;
    height: auto;
}

button {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #d35400;
}

footer {
    background-color: #AC8053;
    color: white;
    text-align: center;
    padding: 10px;
}